body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .contenedor {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 10px; 
      height: 75vh; 
    }

    .caja {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: white;
    }

    .caja1 {
      background-color: #3498db;
    }
    .caja2 {
      background-color: #2ecc71;
    }
    .caja3 {
      background-color: #e74c3c;
    }
    .caja4 { background: #9b59b6; 
    }
    .caja5 { background: #f1c40f;
     }
    .caja6 { background: #1abc9c;
     }
    .caja7 { background: #34495e;
     }
    .caja8 { background: #a2f10f;
     }
    .caja9{ background: #bc1a78;
     }
    .caja10 { background: #a9ff9e;
     }
     .caja11{ background: #ae1abc;
     }
    .caja12 { background: #ffa32b;
     }

    @media (min-width: 768px) {
      .contenedor {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(4,1fr);
        grid-auto-rows: 1fr;
      }
    }
    @media (min-width: 1024px) {
      .contenedor {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: repeat(5,1fr);
      }
    }