* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 30px;
}
.plant{
  text-align: center;
  margin-top: 20px;
}
/* Contenedor general */
body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  grid-template-columns: 1fr;
}


header {
  grid-area: header;
  background: #54d671;
  color: rgb(255, 255, 255);
  padding: 30px;
  text-align: center;
  margin: none;
}

nav {
  grid-area: nav;
  background: #2ecc71;
  color: white;
  padding: 1rem;
}
li{
  display: inline;
  margin-left: 40px;
  font-size: 30px;
}

main {
  grid-area: main;
  background: #ecf0f1;
  padding: 1rem;
}

img{
  width: 40%;
  height: auto;
  margin-bottom: 30px;
}

h2{
  text-align: left;
  margin-bottom: 25px;
}
p{
  text-align: justify;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
aside {
  grid-area: aside;
  background: #f3cc8c;
  padding: 5rem;
}

.foot{
  text-align: center;
  margin-top: 20px;
}
footer {
  grid-area: footer;
  background: #6ca7e2;
  color: white;
  padding: 1rem;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
    @media (min-width: 768px) {
      .container {
      display: grid;
      grid-template-areas:
          "header  header"
          "nav     main"
          "aside   main"
          "footer  footer";
        grid-template-columns: 1fr 3fr;
      }
    }
    @media (min-width: 1200px) {
      .container {
        display: grid;
        grid-template-areas:
      "header  header  header"
      "aside   main    nav"
      "footer  footer  footer";
    grid-template-columns: 1fr 3fr 1fr;
      }
    }