* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
   height: 100%;
}
/* Contenedor general */
.container {
  display: grid;
  font-family: Arial, sans-serif;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;
  min-height: 100vh;
}


header {
  grid-area: header;
  background: #9ea5ff;
  color: rgb(2, 2, 2);
  text-align: center;
}

nav {
  grid-area: nav;
  background: #2ecc71;
  color: white;
    text-align: center;
}

main {
  grid-area: main;
  background: #a3edff;
    text-align: center;
}

aside {
  grid-area: aside;
  background: #f3cc8c;
    text-align: center;
}

footer {
  grid-area: footer;
  background: #6ca7e2;
  color: white;
  text-align: center;
}
  @media (min-width: 768px) {
      .container {
      display: grid;
      grid-template-areas:
          "header  header"
          "nav main"
          "aside main"
          "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        min-height: 100vh;
      }
    }
    @media (min-width: 1200px) {
      .container {
        display: grid;
        grid-template-areas:
      "header  header  header"
      "aside   aside  nav"
      "main   main    nav"
      "main   main    nav"
      "footer  footer  footer";
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
      min-height: 100vh;
      }
    }